.aboutWrapper
    %h2
        =I18n.t('about.title')

    %p
        =I18n.t('about.game')


    %h3
        =I18n.t('about.about_us_title')

    %p
        =I18n.t('about.about_us_text')

    =image_tag "https://profile-a.xx.fbcdn.net/hprofile-prn2/186571_588380875_377587963_q.jpg"
    =image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/41646_742197780_2702148_q.jpg"

    %h3
        =I18n.t('about.contact_title')
    =I18n.t('about.email')