/*
    Styles for screen width >= 900px
*/
@media all and (min-width:900px) {

    .header {

        width:900px;
        margin:auto;
        height:65px;

        li { height: 65px; }

        .logo { width:40%; }
        .score { width:20%; }
        .menu { width:40%; float:right; }
    }

    h1 { margin:0; }
    .subtitle { color:#F6F6F6; font-size: 0.8em; display: block;}

    .authMenuIcon { padding-top:30px; }
    .menuIcon { visibility: hidden; display: none; }

    .container { margin:auto; width:900px; }

    /* Nav */
    .nav {
        border:0;
        position:static; display:block; padding-top:21px; margin:auto;

        li {
            background:none; border:none;
            float:left;
            text-align: center;
            font-weight: normal;
            color:#FFF;
            padding:0;
            height:auto;
            width:90px;

            a {
                padding:0px;
            }

        }
        li:last-child { margin:0; }
        li:hover { background: none; color:#333; }
        li:hover a { background: none; color:#333; }

    }

    .payByShare {
        width: 900px;
    }

}

@media all and (min-width:470px) {

    .guessBox .imageWrapper { float:left; width:200px; margin-right:10px; }
    .chooseList { width:230px; float:left; }

}