// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Guess-box */
.guessBox {

    width:100%;

 	.imageWrapper {  
 		text-align:center;
 		margin:auto;
 		padding:2em 0 0 0;
 		width:100%; 
 		height:230px;
 		background:url(shattered.png) #EEE center center;
 	}

	img { margin:auto; max-width:100%; max-height: 100%; }

	.profileImage {
		height:200px; 
		width:250px;
		border-radius: 4px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		margin:auto;
		border:2px solid #FFF;
	}

	.chooseList { width:285px; margin:auto; margin-top:1em; }
	.chooseList li {
		overflow: hidden;
		padding:12px;
	    color:#555;
	    background:#FFF;
	    border: 1px solid #DDD;
	    cursor: pointer;
	    font-size: 10pt;
	    margin-bottom:4px;
	    font-weight: bold;
	    border-radius: 4px;
	}

	.chooseList li i { color:#CCC; margin-right:8px; }
	.chooseList li:hover, .chooseList li:hover i { color:#f39c12; }
	.chooseList li label { cursor: inherit; }
	.chooseList input { display: none; }
}

.slideInRight {
    -webkit-animation-duration: 0.6s;
    -webkit-animation-name: slideInRight;
    -webkit-animation-fill-mode: forwards;
    -webkit-transition-timing-function: linear;

    animation-duration: 0.6s;
    animation-name: slideInRight;
    animation-fill-mode: forwards;
    transition-timing-function: linear;
}

@-webkit-keyframes slideInRight { from { margin-left: 100%; }  to { margin-left:0%; } }
@keyframes slideInRight { from { opacity: 0; }  to { opacity: 1; } }