// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Guess-box */
.guessBox {

    width:100%;

 	.imageWrapper {  text-align:center; background:#F6F6F6; padding:1em; margin-bottom:1em; border-radius: 4px; }
	img { margin:auto; max-width:100%;  }

	.chooseList li { margin-bottom: 8px; position: relative; overflow: hidden; }

	.chooseList button {
		background:#ecf0f1;
		padding:12px;
	    border:0;
	    text-align: left;
	    width:100%;
	    border-left:35px solid #7f8c8d;
	    color:#7f8c8d;
	}

	.chooseList button:hover { border-left:35px solid #e67e22; }

}