.guessBox
    %h2
        =I18n.t('vote.title')

    .imageWrapper
        =image_tag "https://graph.facebook.com/#{@vote.subject.external_id}/picture?width=200&height=300", { :class => "profileImage" }

    %ul.chooseList
        = form_for @vote do |f|
            %li
                = f.collection_radio_buttons :answers, @vote.answers, :id, :title
