.guessBox
    %h2
        =I18n.t('vote.title')

    .imageWrapper
        =image_tag "https://graph.facebook.com/1209140843/picture?type=large", { :class => "profileImage" }

    %ul.chooseList
        %li
            %button{ :value => "1" }
                Multimedia-Technology
        %li
            %button{ :value => "2" }
                Chemie
        %li
            %button{ :value => "3" }
                Pharmazie